# dependencies
node_modules/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

.idea/

/db/*
/db_test/*
/db_test_metrics/*
/db_test_users/*
#*.log
#*.ldb
#LOG
#LOG.old
#LOCK
#CURRENT